.page{
    padding: 1.5em;
    border-radius: 1em;
    display: flex;
    flex-wrap: wrap;
}
.label{
    background-color: #006773;
    font-size: 2em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputfind{
    width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
}
.kanji{
    border: 1em;
    width: 50em;
    padding: 1em;
    width: 20em;
    border-color: black;
    border-radius: 1em;
    box-shadow: 2em;
}
.continerI{
    border: 0.3em solid;
    border-radius: 1em; 
    box-shadow: 0.3em -0.1em gray;
    
}
.containerIK{
    border: 0.2em solid black;
    justify-content: flex-start;
    display: flex;
    justify-content:flex-start;
    margin: 1em;
    border-radius: 1em;
}
.infok{
    flex-direction: column;
    margin: 1em;
}
.audio:hover,
.audio:focus,
.audio:active {
    -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);
    -webkit-transform: scale(5);
    -moz-transform: scale(5);
    transform: scale(1.02);
}
.audio:hover{
width: 20em;
}

.audio {width: 10em;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 1px 0px #006773;
    -webkit-box-shadow: 2px 2px 1px 0px #006773;
    box-shadow: 1px 2px 1px 0px #006773;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 7px 5px;
}
.button {
    transition-duration: 0.4s;
    border-radius: 0.3em;
    background-color: #555555;
    /* Green */
    border:#555555 0.2em solid ;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.button:hover {
    background-color: white;
    /* Green */
    color: black;
}
.containerz {
    display: flex;
    flex-direction: column-reverse;
}